{%extends "login/base.html" %}
{%block titulo%}
Registro
{%endblock%}
{%block cuerpo%}
    <div class="form-group ">
        <h2>Registrate</h2>
        <form action="/registro" method="post">
            <input class="form-control" type="text" name="username" placeholder="Nombre de usuario">
            <input class="form-control" type="text" name="email" placeholder="Email">
            <input class="form-control" ytpe="text" name="firstname" placeholder="Nombre">
            <input class="form-control" type="text" name="lastname" placeholder="Apellido">
            <input class="form-control" type="password" name="contrasena" placeholder="Contraseña">
            <button class="form-control" type="submit">Login</button>
        </form>
    </div>
{%endblock%}

