<!DOCTYPE html>
<html lang="en" id="html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/javascript/javascript.js" defer></script>
    <script src="/static/javascript/jquery.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/estilos.css" rel="stylesheet">
    <title>{%block titulo%}{%endblock%}</title>
</head>

<body>
    <section id=cabeceraGeneral>
        <div class="row global">
            <div class="col-12 col-md-7 flexFather global">
                <img id="imgPinn" src="/static/images/pinocchios.png">
            </div>
            <div class="minheight row col-12 col-md-5 flexFather global">
                <div class="flexFather headerButton global">
                    {%if username%}
                    <hr class="hv global">
                    <a class="hoverRed fontBold flexSon global" href="/pinnochio/carrito">Carrito Compras</a>
                    <hr class="hv global">
                </div>
                <div class="flexFather headerButton global">
                    <a class="hoverRed fontBold flexSon global" href="/pinnochio">Menu Comprar</a>
                    <hr class="hv">
                </div>
                <div class="flexFatherCol headerButton global">
                    <div class="headerLink global">
                        <p class="fontBold flexSon global">Hola {{username.username}}!</p>
                    </div>
                    <div class="headerLink">
                        <a class="hoverRed fontBold flexSon global" href="/login/logout">Log Out</a>
                    </div>
                    {%else%}
                    <hr class="hv">
                    <a class="hoverRed fontBold flexSon global" href="/login">Login</a>
                    <hr class="hv">
                </div>
                <div class="flexFather headerButton">
                    <a class="hoverRed fontBold flexSon global" href="/pinnochio">Menu Ver</a>
                    <hr class="hv">
                </div>
                <div class="flexFather headerButton">
                    <a class="hoverRed fontBold flexSon global" href="/login/registro">Registrar</a>
                    {%endif%}
                </div>
            </div>
        </div>
    </section>
    <section id="cuerpoPagina">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                {%block cuerpo %}
                {%endblock%}
            </div>
            <div class="col-1"></div>
        </div>
    </section>
    <section id="footer">
        <div class="row flexFather">
            <div class="col-0 col-sm-1"></div>
            <div class="col-12 col-sm-10">
                <p class="">Task done to complete the Edx web Programming Project3</p>
                <p>Owner: Ricardo Chavez</p>
                <p>richago29@gmail.com</p>
            </div>
            <div class="col-0 col-sm-1"></div>
        </div>
    </section>
</body>

</html>