{%extends "orders/base.html"%}

{%block titulo%}
Home Orders
{%endblock%}
{%block cuerpo%}
{%csrf_token%}

<div>
    <h2 class="global">Menu</h2>
</div>
<div class="flexFatherP global">
    <div class="flexFatherP global" id="menu">
        <div class="productos global posRel hoverProd">
            <img src="/static/images/pizzasFitSize.jpg" class="flexSon global">
            <div class="global posAbs">
                <div class="global flexSon">
                    <h2 class="whiteFont global flexSon" onclick=poblarMenu(this)>Pizzas</h2>
                </div>
            </div>
        </div>
        <div class="productos global posRel hoverProd">
            <img src="/static/images/subsmallFitSize.jpg" class="flexSon global">
            <div class="global posAbs">
                <div class="global flexSon">
                    <h2 class="whiteFont global flexSon " onclick=poblarMenu(this)>Subs</h2>
                </div>
            </div>
        </div>
        <div class="productos global posRel hoverProd">
            <img src="/static/images/pastasFitSize.jpg" class="flexSon global">
            <div class="global posAbs">
                <div class="global flexSon">
                    <h2 class="whiteFont global flexSon " onclick=poblarMenu(this)>Pastas</h2>
                </div>
            </div>
        </div>
        <div class="productos global posRel hoverProd">
            <img src="/static/images/dinnerplanesFitSize.jpg" class="flexSon global">
            <div class="global posAbs">
                <div class="global flexSon">
                    <h2 class="whiteFont global flexSon " onclick=poblarMenu(this)>Dinner Platters</h2>
                </div>
            </div>
        </div>
        <div class="productos global posRel hoverProd">
            <img src="/static/images/saladsFitSize.jpg" class="flexSon global">
            <div class="global posAbs">
                <div class="global flexSon">
                    <h2 class="whiteFont global flexSon " onclick=poblarMenu(this)>Salads</h2>
                </div>
            </div>
        </div>
        <div class="productos global posRel hoverProd">
            <img src="/static/images/sodatapsFitSize.jpg" class="flexSon global">
            <div class="global posAbs">
                <div class="global flexSon">
                    <h2 class="whiteFont global flexSon " onclick=poblarMenu(this)>Sodas</h2>
                </div>
            </div>
        </div>
        <div class="productos global posRel hoverProd">
            <img src="/static/images/cookiesFitSize.jpg" class="flexSon global">
            <div class="global posAbs">
                <div class="global flexSon">
                    <h2 class="whiteFont global flexSon " onclick=poblarMenu(this)>Addons</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="flexFatherP global width100" id="pedirProd">
        <hr class="hr ocultar global">
        <div id="subtipo" class="flexFatherColP minWidth60 ocultar global">
            <label class="fontBold global">Seleccione producto</label>
            <div id="formSubtipo" class="flexFatherLeftCol width100 global"></div>
        </div>
        <hr class="hr ocultar global">
        <div id="tamano" class="flexFatherColP minWidth60 ocultar global">
            <label class="fontBold global">Seleccione tamaño</label>
            <div class="flexFatherLeftRow width100 global">
                <input class="global flexItem" type="radio" name="tamano" value="small" id="peque" checked>
                <label class="textLeft textLeftMargin" for="peque">Pequeño</label>
            </div>
            <div class="flexFatherLeftRow width100 global">
                <input class="global flexItem" type="radio" name="tamano" value="large" id="grande">
                <label class="textLeft global textLeftMargin" for="grande">Grande</label>
            </div>
            <div class="flexFatherLeftRow width100 global ocultar">
                <input class="global flexItem" type="radio" name="tamano" value="unico" id="unico">
                <label class="textLeft global textLeftMargin" for="unico">Único</label>
            </div>
            <div class="flexFatherLeftRow width100 global ocultar">
                <input class="global flexItem" type="radio" name="tamano" value="Soda bottle" id="bottleDrink">
                <label class="textLeft global textLeftMargin" for="bottleDrink">botella</label>
            </div>
            <div class="flexFatherLeftRow width100 global ocultar">
                <input class="global flexItem" type="radio" name="tamano" value="Soda can" id="canDrink">
                <label class="textLeft global textLeftMargin" for="canDrink">Lata</label>
            </div>
            <div class="flexFatherLeftRow width100 global ocultar">
                <input class="global flexItem" type="radio" name="tamano" value="Soda tap" id="tapDrink">
                <label class="textLeft global textLeftMargin" for="tapDrink">Tap</label>
            </div>
        </div>
        <hr class="hr ocultar global">
        <div id="toppings" class="flexFatherColP minWidth60 ocultar global"></div>
        <div id="precio" class="flexFatherColP minWidth60 ocultar global">
            <p class="fontBold global">Precio total:</p>
            <p id="precioParcial">Precio Desconocido</p>
        </div>
        <hr class="hr ocultar global">
        {%if username%}
        <div id="submit" class="flexFatherColP minWidth60 ocultar global">
            <h2 id="carrito" onclick=enviarDatosCarrito() class="flexSon global BotonSuccess whiteFont">Add to Car</h2>
        </div>
        <hr class="hr ocultar global">
        {%endif%}
        
    </div>

</div>
{%endblock%}