#html{
    #cabeceraGeneral{
        background-color: rgb(200, 20, 40);
    }
    #footer{
        background-color: rgb(40,120,40);
    }
    .minheight{
        min-height:70px;
    }
    .flexSonLeft{
        display:flex;
        width: 100%;
        height: 100%;
        justify-content: left;
        align-items: center;
    }
    .global{
        border-radius: 5px;
        //border: solid black;
        margin : 0px;
        padding : 0px;
        text-align: center;
        color:black;
        text-decoration : none;
    }
    .blockInput
    {
        display: block;
    }
    .BotonSuccess
    {
        padding: 5px 10px;
        background-color: rgb(20,100,20);
    }
    .fontSize{
        font-size: 23px;
    }
    .botonPadding{
        padding: 5px 10px;
    }
    .BotonSuccess:hover
    {
        background-color: rgb(20,60,20);
    }
    .ButtonSuccess:active
    {
        background-color: rgb(20,60,20);
    }
    .hoverRed:hover{
        background-color: rgb(160, 20, 40);
    }
    .fontBold
    {
        font-weight: bold;
    }
    .flexItem
    {
        display: flex;
        align-self: center;
    }
    #imgPinn{
        width: 100%;
        max-width: 283px;
        height :auto;
        max-height: 150px;   
    }
    .flexFather{
        display:flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }
    .flexFatherCol{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .flexFatherColP{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .flexFatherP{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }
    .flexFatherLeftCol
    {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: left;
    }
    .flexFatherLeftRow
    {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: left;
    }
    .textLeft
    {
        text-align: left;
    }
    .textLeftMargin
    {
        margin-left: 3px;
    }
    .textLeftPadding{
        padding-left: 3px;
    }
    .width100
    {
        width:100%;
    }
    .minWidth60
    {
        min-width: 60%;
    }
    .flexSon
    {
        display: flex;
        width: 100%;
        height:100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .headerFather{
        padding: 7px 0px;
    }
    .headerButton{
        width: 33.33%;
        height:100%;
    }
    .headerButtonv2{
        width: 100%;
        height:50%;
    }
    .headerButtonx4{
        width: 25%;
        height:100%;
    }
    .headerLink{
        width: 100%;
        height:50%;
    }
    .hv{
        align-self: center;
        height: 80%;
        border:solid;
        border-width: 1px;
        border-color: rgb(120, 20, 40);
    }
    .hr
    {
        margin-top: 5px;
        margin-bottom: 5px;
        justify-self: center;
        width: 90%;
        border:solid;
        border-width: 1px;
        border-color: rgb(180, 180, 180);
    }
    .hr100{
        margin-top: 5px;
        margin-bottom: 5px;
        justify-self: center;
        width: 100%;
        border:solid;
        border-width: 1px;
        border-color: rgb(180, 180, 180);
    }
    .flexSonRight{
        display:flex;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        line-height: 100%;
        font-style: italic;
    }
    .textRightPadding{
        padding-right: 3px;
    }
    .textListPadding{
        padding-left: 15px;
    }
    .textGray{
        color:rgb(160,160,160);
    }
    .pinoBackGround
    {
        background-image: url("../images/pinoFitSize.JPG");
        background-repeat: repeat;
    }
}
